{% for d in meta.data %}
<div>
    {% if d.tests > 0 %}
        {% if d.failures > 0 or d.errors > 0 %}
            {% set class = 'bg-danger' %}
        {% else %}
            {% set class = 'bg-success' %}
        {% endif %}
    {% else %}
        {% set class = 'bg-info' %}
    {% endif %}
    <h4 class="{{ class }}">{{ d.name }}</h4>
    {% for r in d.data %}
    <table class="table table-striped table-hover">
        <tr class="active">
            <th>
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                &nbsp;&nbsp;
                {{ r.name }}
            </th>
            <th>Begins at Line</th>
            <th>Ends at Line</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
        {% if loop.last == false %}<hr>{% endif %}
    {% endfor %}
</div>
{% endfor %}
